.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 800px)
{
.rw-widget-container .rw-conversation-container {
    margin-bottom: 10px !important;
    width: 500px !important;
}
}

@media screen and (min-width: 600px)
{
.rw-widget-container .rw-conversation-container {
    margin-bottom: 10px !important;
    width: 500px !important;
}
}

@media screen and (min-width: 1200px)
{
.rw-widget-container .rw-conversation-container {
    margin-bottom: 10px !important;
    width: 500px !important;
}
}

@media screen and (min-width: 800px){
.rw-messages-container {
  height: 70vh !important;
  max-height: 80vh !important;
}
}
@media screen and (min-width: 600px){
  .rw-messages-container {
    height: 60vh !important;
    max-height: 70vh !important;
  }
  }

  @media screen and (min-width: 1200px){
    .rw-messages-container {
      height: 70vh !important;
      max-height: 80vh !important;
    }
    }